API_BASE_URL=''
API_VERSION=''
CONNECT_TIMEOUT=''
RECEIVE_TIMEOUT=''
SEND_TIMEOUT=''
APP_NAME=''
ENABLE_LOGGING=''
SECRET_KEY=''
GOOGLE_MAPS_ANDROID_KEY=''
GOOGLE_MAPS_IOS_KEY=''
APPSFLYER_DEV_KEY=your_dev_key_here
APPSFLYER_APP_ID=your_app_id_here
APPSFLYER_ONELINK_TEMPLATE_ID=your_onelink_template_id_here